.status-bar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    width: 100%;
}

.status-bar-col {
    width: 33%;
}

.status-bar-col:nth-child(2) {
    display: flex;
    justify-content: center;
}

.status-bar-col:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar-col:first-child span {
    margin-right: 5px;
}

.status-bar-col .fa-battery-full {
    margin: 0 5px;
}